body {
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
    max-width: 600px; 
    margin: 0 auto; 
}

img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

#frame {
    z-index: -1;
    grid-column: 2;
    margin-top: -365%;
    width: 380%;
    justify-self: end;
margin-right: -130%;
    
}
#img1 {
    grid-row: 1; 
    grid-column: 1; 
    justify-self: end;
    width: 120%

